.navbar{
    border-radius:0px !important;
    background-color: black !important;
    border: none !important;

}

.navbar-brand{
    color: gainsboro !important;
}

.navbar li a{
    color:gainsboro !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #eb9316 !important;
  background-color: transparent;
}
.dropdown-menu{
    left:-30% !important;

}

.dropdown-menu li a{
    color: black !important;
  }
.forms{

    width: 40% !important;
    margin-left: auto;
    margin-right: auto;
    border:1px #bfbcbc groove;
    padding: 30px;
    margin-top: 2%;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(191,185,191,1);
    -moz-box-shadow: 6px 10px 5px 0px rgba(191,185,191,1);
    box-shadow: 6px 10px 5px 0px rgba(191,185,191,1);
}

.btn{
    width: 40%;
}

.product{
    border:1px solid gray;
    margin-right: 15px;
    padding: 15px;
    float: left;
    margin-bottom: 15px;
    box-shadow: 6px 5px 1px 0px rgb(239, 239, 239);
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cart_count {
   background: green;
   border: 1px solid green;
   border-radius: 5px;
   padding-left: 2px;
   padding-right: 2px;
   color: white;
}

.mySlides{
    width:100%;
}
.row{
    padding-left: 15px;
}
.links li{
    list-style:none;
    background: black;
    box-shadow: 4px 1px 4px 1px rgb(239, 239, 239);
    margin-left: -35px !important;
    margin-bottom: 4px;
    width: 103%;

}
.links li a{
    color: white;
    padding: 5px;
}
