{% extends 'base.html' %}

{% block content %}
    <title>Cart</title>
    <div class="container">
        {% if vendor %}
            <h2>Login as customer account to view the cart</h2>

        {% else %}

            {% if noitem %}
                <h2>No items in the cart. View <a href="/" >products</a></h2>

            {% else %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>

                <tbody>

                    {% for new in cart_data %}

                        <tr>
                            <td><a href="/product/{{ new.product }}">{{ new.product_name }}</a> </td>
                            <td>{{ new.quantity }}</td>
                            <td>Rs.{{ new.price}}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
            <h3>Total: <b>Rs.{{ total }}</b></h3>
            <a href="/checkout/" class="btn btn-success">Checkout</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock content %}