{% extends 'base.html' %}

{% block content%}
    <title>Dashboard Page</title>
        <div class="container-fluid">
            <div class="col-md-2 pull-left">
                <h3>Links</h3>
                {% if not customer %}
                    <li><a href="/newcategory/">Add a new Category</a> </li>
                    <li><a href="/newproduct/">Add a new Product</a> </li>


                <h3>Your products</h3>
                   {% for product in products %}
                       <li><a href="/product/{{product.pk}}" >{{product.product_name}}</a>
                           ( <a href="/product/update/{{ product.pk }}"> Edit </a>| <a href="/product/delete/{{ product.pk }}"> Delete</a> )</li>
                          </li>
                   {% endfor%}
            {% endif %}

            </div>

            <div class="col-md-10">
                <h3> Welcome <i>{{ data.user.first_name}} </i>,</h3>
                <h3 class="text-center">{% if customer %}Your orders{% else %} Orders Ready to shipment {% endif %}</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>Order # </th>
                          <th>Product</th>
                         {% if not customer %} <th>Customer</th>{% endif %}
                          <th>Date</th>
                          <th>Price</th>

                      </tr>
                    </thead>

                    <tbody>
                        {% for new in order %}
                          <tr>
                            <td><a href="/order/{{ new.pk }}">#{{ new.order_id }}</a> </td>
                            <td>{{ new.product }}</td>
                              {% if not customer %} <th><a href="#">{{ new.order.customer }}</a></th>{% endif %}
                            <td>{{ new.created }}</td>
                            <td>Rs.{{ new.price }}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
            </table>


        </div>

            </div>


{% endblock content %}
