{% extends 'base.html' %}

{% block content%}
    <title>Index Page</title>
    <div class="container">

            <div class="col-md-2 pull-left">
                <h3>Links</h3>
                {% if user.is_authenticated %}
                    <li><a href="/update/{{ user.pk }}">Update your Profile</a></li>
                    <li><a href="/dashboard/">Your dashboard</a></li>
                {% else %}
                    <li><a href="/login/">Login</a></li>
                    <li><a href="/register/customer/">Register as Customer</a></li>
                    <li><a href="/register/vendor/">Register as Vendor</a></li>
                {% endif %}

                <h3>Categories</h3>
                {% for new in category %}
                   <li><a href="#"> <i>{{ new.category_name }}</i> </a></li>
                {% endfor %}
             </div>

         <div class="col-md-10">
                <h3 class="text-center">Latest Products</h3>
                {% for new in product %}
                    <div class="product">
                        <a href="product/{{ new.pk }}"> <h4>{{ new.product_name }}</h4></a>
                        In <a href="#"> <i>{{ new.category }}</i> </a><br/>
                        <a href="product/{{ new.pk }}"><img class=" " src="../static/images/no.png" width="180px"/> <br/></a>
                        Tags: <i><b>{{ new.tags }}</b></i> <br/>
                       <h4><b>Rs.{{ new.price }}</b></h4>
                        Seller : <a href="#">{{ new.vendor }}</a> <br/>

                    </div>
                {% endfor %}
            </div>

    </div>
{% endblock content %}
