{% extends 'base.html' %}

{% block content%}
    <title>Index Page</title>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="col-md-2 pull-left">
                <h3>Links</h3>
                <li><a href="/update/{{ user.pk }}">Update your Profile</a></li>
                <li><a href="/dashboard/">Your dashboard</a></li>
            </div>
            <div class="col-md-10">
                <h3 class="text-center">Latest Products</h3>
                {% for new in product %}
                    <span class="col-md-4">
                        <h4>{{ new.product_name }}</h4>
                        In <a href="#"> <i>{{ new.category }}</i> </a><br/>
                        <img class=" " src="../static/images/no.png" height="160px"/> <br/>
                        Tags: <i><b>{{ new.tags }}</b></i> <br/>
                        Price: <b><i>Rs.{{ new.price }}</i></b> <br/>
                        Seller : <a href="#">{{ new.vendor }}</a> <br/>
                        <button class="btn btn-success">Add to cart</button>
                    </span>
                {% endfor %}
            </div>


        {% else %}
            <h1> <a href="/login/"> Login</a> |
                <a href="/register/customer"> Register as Customer</a> or  <a href="/register/vendor"> Register as Vendor</a> , to view the contents</h1>
        {% endif %}

    </div>
{% endblock content %}
